body{
	font-size: 12px;
	background-color: #f5f5f5;
}
#now{
	width: 100%;
	height: 13.8rem;
	background: url('../img/screen.png'),linear-gradient(#3bbcff,#47e7ff);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom center;
}
.now_city{
	font-size:0.36rem;
	text-align: center;
	color: #fff;
	line-height: 1.57rem;
}
.now_air{
	width: 2.1rem;
	height: 1.26rem;
	background-color: #f1ab62;
	margin-top: 0.05rem;
	margin-left: 0.26rem;
	border-radius: 0.2rem;
	padding-top: 0.31px;
}
.now_air h1,.now_air h2{
	font-size: .36rem;
	color: #fff;
	text-align: center;
}
.now_temp{
	font-size: 0.96rem;
	color: #fff;
	text-align: center;
	margin-top: 0.77rem;
}
.now_weather{
	font-size: 0.51rem;
	color: #fff;
	text-align: center;
	margin-top: 0.91rem;
}
.now_wind{
	font-size: 0.32rem;
	color: #fff;
	text-align: center;
	margin-top: 0.54rem;
}
.now_tishi{
	font-size: 0.34rem;
	color: #fff;
	text-align: center;
	margin-top: 1.48rem;
}
#future{
	width: 100%;
	height: 3.09rem;
	background-color: #fff;
	border-bottom:0.03rem solid #e4e4e4;
	padding: .72rem 0;
}
.future_box{
	width: 50%;
	height: 100%;
	float: left;	
	padding:0 .58rem ;
	font-size: .32rem;
}
.today{
	border-right:0.03rem solid #e4e4e4;	
}
.future_top{
	width: 100%;
	height: 50%;
}
.future_date,.today_weather{
	float: left;
}
.future_top p{
	float: right;
}
.today_img,.tomorrow_img{
	width: .72rem;
	height: .72rem;
	float: right;
}
#hours{
	width: 100%;
	height: 3.9rem;
	background-color: #fff;
	border-bottom: 0.03rem solid #e0e0e0;
	border-top: 0.03rem solid #e0e0e0;	
	margin-top: .3rem;
	display: flex;
	flex-shrink: 0;
	overflow-x: scroll; /* 水平滑动	*/
}
#hours::-webkit-scrollbar{
	display: none;
}
#hours li{
	width: 2rem;
	height: 100%;
	padding: .7rem 0;
	display: flex;
	flex-wrap: wrap;    /*换行*/
	justify-content: center;
	align-content: space-between;

}
.hours_img{
	width: 1rem;
	height: 1rem;
	padding: 0 .4rem;
	box-sizing: content-box;
}
.hours_time,.hours_temp{
	font-size: .26rem;
}
#day{
	width: 100%;
	height: 11.6rem;
	background-color: #fff;
	margin-top: .3rem;
	border-bottom: 0.03rem solid #e0e0e0;
	border-top: 0.03rem solid #e0e0e0;	
	display: flex;
	flex-shrink: 0;
	overflow-x: scroll; /* 水平滑动	*/

}
#day::-webkit-scrollbar{
	display: none;			/*消失滚动条*/
	display: block;			/*显示滚动条*/
}
#day li{
	width: 2rem;
	height: 100%;
	padding: .7rem 0;
	display: flex;
	flex-wrap: wrap;    /*换行*/
	justify-content: center;
	align-content: space-between;

}
.day_futureday,.day_futureweth,.day_futuretemp,.day_futuretempfu,.day_futurefeng,.day_futureji{
	font-size: .26rem;
	width: 2rem;
	text-align: center;
}
.day_img img{
	width: 2rem;
	height: 2rem;
	padding: 0 .4rem;
	box-sizing: content-box;
}
#citys{
	width: 100vw;   	 /* vw设备宽*/
	height:100vh; 		/*vh设备高*/
	background-color: #f6f6f6;
	/*position: fixed;
	left: 0;
	top: 0;
	bottom: 0;*/
	margin: auto;
	z-index: 999;    /*层级*/
	/*position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: red;*/
}
header{
	width: 100%;
	height: 1.29rem;
	background-color: #fff;
	padding: 0 0.29rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;  		/*单行	*/
}
.search{
	width: 9.03rem;
	height: 0.87rem;
	background-color: #e2e2e2;
	border-radius: .2rem;
	padding-left: .2rem;
	color: #757575;
	outline: none;
	border:0;
}
.btn{
	font-size: .44rem;
	color: #7bacff;
}
#cityall{
	width: 100vw;
	height: 17.2rem;
	overflow-y: scroll; 
}
#cityall::-webkit-scrollbar{
	display: none;
}
.remen_city{
	width:  7.77rem;
	/*height: 2.61rem;*/
	margin-left: 0.29rem;

}
.remen_title{
	font-size: 0.44rem;
	color: #999999;
}
.remen_city_name{
	width: 100%;
	/*height: 1.87rem;*/
	margin-top: .2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center; 
}
.remen_city_namedan{
	width: 2.34rem;
	height: .84rem;
	background-color: #fff;
	border-radius: .2rem;
	text-align: center;
	line-height: .84rem;
	margin-bottom:  .39rem;
	border:0.01rem solid #e0e0e0;
}